@import 'theme';

.socialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $dark-blue;
    margin-top: 100px;


    .socialsText {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #fff;
        margin: 100px auto 30px auto;

        width: 80%;
        line-height: 1.6;
        text-align: center;
    }


    .buttonsDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .socialButton {
            margin-right: 10px;
        }
    
        .socialButton:hover {
            cursor: pointer;
        }

    }
    

}

@media (width < $md) {
    .socialsContainer {
        // margin-top: 700px;
        height: 50%;
        .socialsText {
            font-size: 20px;
        }
    }
}