@import 'theme';

.skillsContainer {

    text-align: center;

  

    .name {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: $default-dark;
        margin-bottom: 20px;
        font-size: 50px;
        
    }

    .presentation {
        width: 60%;
        margin: 0 auto;
        color: $light-dark;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 25px;
        text-align: center;
        line-height: 2;
    }

    .imagesArea {
       
        margin-top: 200px;
        text-align: center;
        .images {
         .image {
            position: relative;

         }

         .webImage {
            left: 10%;
            z-index: 1001;
         }

         .codeImage {
            right: 10%;
            z-index: 1001;
         }
          
        }

        
       


    }

}


@media (width < $sm) {
    .skillsContainer {
        .name {
            font-size: 32px;
        }

        .presentation {
            font-size: 15px;
            width: 100%;
        }

        .imagesArea {
            margin-top: 50px;

            .images {

                
                img {
                    width: 100px;
                }

               .webImage {
                    left: 0%;
                   
                }
               .codeImage {
                right: 0%;
               }
            }
        }
    }
    
}


@media (width < $md) {
    .skillsContainer {
        .name {
            font-size: 32px;
        }

        .presentation {
            font-size: 15px;
            width: 100%;
        }

        .imagesArea {
            margin-top: 50px;

            .images {

                
                img {
                    width: 200px;
                }

               .webImage {
                    left: 0%;
                   
                }
               .codeImage {
                right: 0%;
               }
            }
        }
    }
    
}

