@import 'theme';


.projectContainer {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    


    .titleContainer {
        display: flex;
        align-items: baseline;
        gap: 2rem;

        text-align: left;

       
       

       .projectDetailsContainer {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .title {
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
            text-transform: capitalize;
        }

        .description {
            font-family: 'Montserrat', sans-serif;
            opacity: 0.8;
        }

       }
    }
}
