@import 'theme';

.projectsContainer {
    text-align: center;
    height: 50vh;

    .projectsTitle {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: $default-dark;
        margin: 30px 0;
    }

    .projectsSubtitle {
        color: $light-dark;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
  
    }

    .projectsList {
     width: 80%;
     margin: 0 auto;

        .projectDiv {
           
            margin: 20px 0 ;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .projectCard {
                width: 350px;
                height: 250px;
                background-color: $dark-blue;
                color: #fff;
                border-radius: 12px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .cardContent {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .projectName {
                        font-family: 'Lato', sans-serif;
                        font-weight: bold;
                        font-size: 20px;
                        color: #fff;
                        margin-bottom: 10px; 
                        position: absolute;
                       
                    }

                    .projectHideDesc {
                        position: absolute;
                        width: 15%;
                        
                        .projectImageDescription {
                            color: #000;
                        }

                        .projectDescription {
                            margin-bottom: 10px;
                        }

                        .projectDescription, .projectLanguage, .projectImageDescription {
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 500;
                            font-size: 15px;
                        }

                        .projectImageLanguage {
                            color: #000;
                        }
                    }
    
                   
                }
               

               
                
            }

            .imageCard {
                background-color: #fff;
            }

            .projectCard:hover {
                cursor: pointer;
            }
    
        }
    }

   
}

@media (width < $md) {
    .projectsContainer {

        .projectsTitle {
            font-size: 20px;
        }

        .projectsSubtitle {
            font-size: 15px;
        }

        .projectsList {
           
            .projectDiv {
                
                
        
                .projectCard {
                    

                    .cardContent {
                
                        .projectHideDesc {
                            position: absolute;
                            width: 75%;
                            
                            
                        }
        
                        
                    }
                    

                    
                    
                }

                
        
            }
        }
    }
}